input:focus, textarea:focus {
    border-color: blue;
    outline: none;
    border-radius: 7px;
}

input:invalid, textarea:invalid, select:invalid {
    border-color: red;
    outline: none;
    border-radius: 7px;
}

input:valid, textarea:valid, select:valid {
    border-color: green;
    border-radius: 7px;
    outline: none;
}

button {
    background-color: rgb(179, 201, 249);
    border-radius: 7px;
}
button:hover {
    background-color: rgb(98, 98, 226);
    border-radius: 7px;
}

h1 {
    font-family: monospace;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"], textarea, select, button {
    width: 500px;
}

.radio-group {
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
}


.radio-group input[type="radio"]:checked {
    accent-color: green;
    border-color: green;
    box-shadow: inset 0 0 5px blue;
}

.radio-group input[type="radio"]:checked + label {
    color: green;
}

input[type="text"]:first-of-type {
    background-color: lightyellow;
}