input:focus, textarea:focus {
    border-color: blue;
    outline: none;
}

input:invalid, textarea:invalid, select:invalid {
    border-color: red;
    outline: none;
}

input:valid, textarea:valid, select:valid {
    border-color: green;
    outline: none;
}

button {
    background-color: rgb(138, 175, 255);
}
button:hover {
    background-color: blue;
}

h1 {
    font-family: monospace;
}

input[type="text"], textarea, select, button {
    width: 500px;
}

.radio-group input[type="radio"]:checked {
    accent-color: green;
    border-color: blue;
    box-shadow: inset 0 0 5px blue;
}

.radio-group input[type="radio"]:checked + label {
    color: green;
}

input[type="text"]:first-of-type {
    background-color: lightyellow;
}